.title {
  color: var(--lighter-grey);
  font-family: "PassionOne", sans-serif;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.text {
  color: var(--lighter-grey);
  font-size: 2em;
}
