:root {
  --dark-blue: #7796b9;
  --blue: #2667ff;
  --text: #454545;
  --red: #df4848;
  --light-grey: #d4d4d4;
  --lighter-grey: #f2f2f2;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  font-size: 16px;
  margin: 0;
  background-color: var(--dark-blue);
}

p {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 35em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
